<div id="<%= dom_id receitum %>">
  <p>
    <strong>Nome:</strong>
    <%= receitum.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= receitum.descricao %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= receitum.valor %>
  </p>

</div>
